/** Twilio */
.block-client div.powered-by { background-image:url(../images/twilio-poweredbysmall.png); background-repeat: no-repeat; background-position: bottom right; text-indent: -99999px; height: 31px; }
