<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Avalanche
 * @package     Avalanche_Twilio
 * @copyright   Copyright (c) 2011 Bulat Shakirzyanov <mallluhuct@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Avalanche_Twilio>
            <version>0.1.0</version>
        </Avalanche_Twilio>
    </modules>
    <global>
        <models>
            <twilio>
                <class>Avalanche_Twilio_Model</class>
            </twilio>
        </models>
        <helpers>
            <twilio>
                <class>Avalanche_Twilio_Helper</class>
            </twilio>
        </helpers>
        <resources>
            <twilio_setup>
                <setup>
                    <module>Avalanche_Twilio</module>
                </setup>
            </twilio_setup>
        </resources>
        <blocks>
            <twilio><class>Avalanche_Twilio_Block</class></twilio>
        </blocks>
    </global>
    <frontend>
        <routers>
            <twilio>
                <use>standard</use>
                <args>
                    <module>Avalanche_Twilio</module>
                    <frontName>twilio</frontName>
                </args>
            </twilio>
        </routers>
        <translate>
            <modules>
                <Avalanche_Twilio>
                    <files>
                        <default>Avalanche_Twilio.csv</default>
                    </files>
                </Avalanche_Twilio>
            </modules>
        </translate>
        <layout>
            <updates>
                <twilio>
                    <file>twilio.xml</file>
                </twilio>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <twilio>
                <use>admin</use>
                <args>
                    <module>Avalanche_Twilio</module>
                    <frontName>twilioadmin</frontName>
                </args>
            </twilio>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Avalanche_Twilio>
                    <files>
                        <default>Avalanche_Twilio.csv</default>
                    </files>
                </Avalanche_Twilio>
            </modules>
        </translate>
        <layout>
            <updates>
                <twilio>
                    <file>twilio.xml</file>
                </twilio>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <twilio translate="title" module="twilio">
                                            <title>Twilio Settings</title>
                                        </twilio>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
