<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Avalanche
 * @package     Avalanche_Twilio
 * @copyright   Copyright (c) 2011 Bulat Shakirzyanov <mallluhuct@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <sections>
        <contacts translate="label" module="contacts">
            <groups>
                <hint>
                    <frontend_model>twilio/system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <twilio translate="label">
                    <label>Twilio Customer Service Calls</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <application_sid translate="label">
                            <label>Twilio Application SID</label>
                            <comment><![CDATA[Cannot find an application? <a href="https://www.twilio.com/user/account/apps" target="_blank">Create new application</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>twilio/system_config_form_field_applicationSid</frontend_model>
                            <source_model>twilio/system_config_source_applicationSid</source_model>
                            <backend_model>twilio/system_config_backend_application</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </application_sid>
                        <caller_id>
                            <label>Browser caller id</label>
                            <comment><![CDATA[Don't see a number to use? <a href="https://www.twilio.com/user/account/phone-numbers" target="_blank">Verify a phone number</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>twilio/system_config_form_field_verifiedNumbers</frontend_model>
                            <source_model>twilio/system_config_source_verifiedNumbers</source_model>
                            <backend_model>adminhtml/system_config_backend_cache</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </caller_id>
                        <phone_number translate="label">
                            <label>Customer service phone number</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_cache</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone_number>
                    </fields>
                </twilio>
            </groups>
        </contacts>
        <twilio translate="label" module="twilio">
            <label>Twilio</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                 <config translate="label">
                    <label>Twilio Config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <account_sid translate="label">
                            <label>Account SID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_sid>
                        <auth_token translate="label">
                            <label>Auth Token</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth_token>
                    </fields>
                </config>
            </groups>
        </twilio>
    </sections>
</config>
